body footer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    background-color: #28a745;
}

.navbar-brand img {
    width: 100px;
}

main .container .card {
    width: 18rem; 
    border-radius: 0%;
}

main .container .card .card-img-top img {
    width: 280px;
}

main .container .card .card-body .card-text img {
    width: 10px;
}

main .container .card .card-body .card-footer .card-text small {
    color: #707070;
}

main .container .card .card-body .card-footer .card-text b {
    color: #28a745;
}

.card-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.forma {
    background-color: #28a745; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer img {
    width: 80px;
}